/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Utils */
.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gapmin {
    gap: 20px;
}

.gapbig {
    gap: 30px;
}

.style-button {
    background-color: #0061FF;
    color: #fff;
    padding: 6px 12px;
}

.style-button:hover {
    text-decoration: none;
    box-shadow: 1px 0 2px black;
}

:root {
    --lblue: #B4D0E7;
}

/* Header */
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.hd-container {
    height: 80px;
    padding: 20px;
    justify-content: space-between;

}

header li {
    list-style-type: none;
}

header a {
    color: black;
}

/* Jumbotron */
.jumbotron {
    background-color: var(--lblue);
}

.jt-container {
    width: 60%;
    margin: 80px auto 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    padding: 40px 0;
}

.jt-col {
    align-items: flex-start;
}

.jt-text {
    width: 30%;
    position: relative;
}

.jtt-main, .jtt-button {
    padding-bottom: 40px;
}

.jtt-secondary {
    padding-bottom: 120px;
}

i.fa-arrow-down {
    font-size: 3rem;
    font-weight: 800;
    position: absolute;
    bottom: 0;
    left: 0;
}

.jt-img {
    position: relative;
    height: 100%;
    width: 80%;
}

.jt-img img {
    max-width: 120%;
    position: absolute;
    left: 0;
    top: 0;
}

