/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 50%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

p { 
    font-size: 0.9rem;
}

/* Utils */
.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gapmin {
    gap: 20px;
}

.style-button {
    background-color: #0061FF;
    color: #fff;
    padding: 10px 20px;
}

.style-button:hover {
    text-decoration: none;
    box-shadow: 1px 0 2px black;
}

:root {
    --lblue: #B4D0E7;
}

.border {
    border: 1px solid grey;
}

/* Header */
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hd-container {
    height: 80px;
    padding: 20px;
    justify-content: space-between;

}

header a {
    color: black;
}

/* Jumbotron */
.jumbotron {
    background-color: var(--lblue);
}

.jt-container {
    width: 60%;
    margin: 80px auto 0;
}

h1 {
    font-size: 4.5rem;
    font-weight: 900;
    padding: 80px 0 40px;
}

.jt-col {
    align-items: flex-start;
}

.jt-text {
    width: 30%;
    position: relative;
    font-size: 0.9rem;
}

.jtt-main, .jtt-button {
    padding-bottom: 40px;
}

.jtt-secondary {
    padding-bottom: 120px;
}

i.fa-arrow-down {
    font-size: 3rem;
    font-weight: 800;
    position: absolute;
    bottom: 0;
    left: 0;
}

.jt-img {
    position: relative;
    height: 100%;
    width: 80%;
}

.jt-img img {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* Find your business plan */
.fyp-container {
    margin-top: 200px;
}

h2 {
    padding-bottom: 60px;
    font-size: 2.5rem;
}

.fatturazione ul {
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 40px;
}

.fatturazione li {
    list-style-type: none;
}

.fyp-col {
    width: calc(100%/3);
    margin: 0 20px 40px;
}

.fyp-row {
    margin: 0 -20px;
    align-items: stretch;
}

.fyp-hd {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.fyp-card {
    padding: 0px 30px;
}

h3 {
    padding-top: 40px;
    font-size: 1.5rem;
}

h4 {
    font-size: 0.8rem;
    padding: 20px 0;
    font-weight: 800;
}

.fyp-timing {
    font-size: 0.8rem;
}

.fyp-card > * {
    padding-bottom: 40px;
}

.fyp-card li {
    padding: 10px 0;
    font-size: 0.9rem;    
    padding-left: 1.28571429em;
    text-indent: -1.28571429em;
}

.fyp-card p,
.fyp-text p {
    font-size: 0.9rem;
}

.n-utenti::before {
    font: var(--fa-font-solid);
    content: "\f007";
    /* html <i class="fa-solid fa-user"></i> */
}

.n-plural::before {
    font: var(--fa-font-solid);
    content: "\f0c0";
    /* <i class="fa-solid fa-users"></i> */
}

.n-space::before {
    font: var(--fa-font-solid);
    content: "\f07b";
    /* html <i class="fa-solid fa-folder"></i> */
}

.n-share::before {
    font: var(--fa-font-solid);
    content: "\f1e0";
    /* html <i class="fa-solid fa-share-nodes"> </i>*/
} 

.fyp-button .style-button,
.fypw-button .style-button {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
}

.fyp-buynow {
    text-decoration: underline;
    color: #0000EE;
}

.fyp-checklist::before {
    font: var(--fa-font-solid);
    content: "\f00c";
    color: #0061FF;
    /* html <i class="fa-solid fa-check"> </i>*/
}

.fyp-col hr {
    padding-bottom: 0;
    width: 30%;
    margin-bottom: 30px;
}

/* Horizontal fyp */
.fyp-wide {
    margin-bottom: 80px;
}

.side-container {
    padding: 0 20px;
    align-items: flex-start;
    gap: 20px;
}

.fypw-button {
    width: 30%;
    padding-top: 40px;
}

.fyp-wide h4,
.fyp-wide p {
    padding-bottom: 40px;
}

/* Find a partner */
.find-a-partner {
    align-items: flex-start;
    gap: 40px;
    margin: 160px 0;
}

.find-a-partner img {
    max-width: 60%;
    display: block;
}

.fap-text h3 {
    padding-bottom: 20px;
}

.fap-text p {
    padding-bottom: 50px;
}

.fap-button .style-button {
    background-color: white;
    color: grey;
    border: 1px solid grey;
    font-size: 0.9rem;
}

/* Dropbox Business Grid */
.dpb-row {
    flex-wrap: wrap;
    margin: 0 -20px;
}

.dpb-col {
    width: calc(100%/3);
    padding: 20px;
}

.dpb-col img {
    width: 100%;
    display: block;
}

.dpb-col h3 {
padding: 20px 0;
}

/* Scopri di più sui nostri clienti */
.mc-hd {
    padding: 100px 0;
    margin-top: 50px;
    width: 50%;
    margin: 0 auto;
}

.mc-hd a {
    text-decoration: underline;
    color: #0000EE;
}

.mc-sqrd {
    height: 600px;

}


.mcf-container {
    background-color: var(--lblue);
}

.mc-ftr {
    color: #61082B;
    width: 50%;
    margin: 0 auto;
    padding: 100px 0;
    align-items: flex-start;
    justify-content: space-between;
}

.mc-ftr h2 {
    width:60%;
    padding: 0;
}

.mc-ftr a {
    width: 30%;
    text-align: center;
    margin-top: 10px;
}

