/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 50%;
    margin: 0 auto;
}

h2 {
    font-size: 2.5rem;
}

p { 
    font-size: 0.9rem;
}

img {
    max-width: 100%;
    display: block;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

/* Utils */
.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-button {
    background-color: #0061FF;
    color: #fff;
    padding: 10px 20px;
}

.style-button:hover {
    text-decoration: none;
    box-shadow: 1px 0 2px black;
}

:root {
    --lblue: #B4D0E7;
    --gray: #999;
}

.border {
    border: 1px solid grey;
}

.pb-40 {
    padding-bottom: 40px;
}

/* Header */
.hd-container {
    height: 80px;
    background-color: white;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: 0 1px 3px #666;
}

header ul {
    gap: 20px;
}

/* Jumbotron */
#jumbotron {
    background-color: var(--lblue);
}

.jt-container {
    width: 60%;
    margin: 0 auto;
    transform: translateY(80px);
}

h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

.jt-row {
    align-items: flex-start;
}

/* Find your plan */
#fyp-container {
    margin-top: 200px;
}

#fyp-container h2 {
    padding-bottom: 60px;
}

.fatturazione ul {
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 40px;
}

/* Piani business */
.fyp-row{
    margin: 0 -20px;
    align-items: stretch;
    flex-wrap: wrap;
}

.fyp-col {
    width: calc(100%/3);
    padding: 0 20px 40px;
}

.fyp-card {
    height: 100%;
}

.fyp-hd {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.fyp-main {
    padding: 0px 30px;
}

h3 {
    padding-top: 40px;
    font-size: 1.5rem;
}

h4 {
    font-size: 0.8rem;
    padding: 20px 0;
    font-weight: 800;
}

.fyp-timing {
    font-size: 0.8rem;
}

.fyp-main > * {
    padding-bottom: 40px;
}

.fyp-main li {
    padding: 10px 0;
    font-size: 0.9rem;
}

.fyp-button .style-button,
.fypw-button .style-button {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
}

.fyp-buynow {
    text-decoration: underline;
    color: #0000EE;
}

.fyp-col hr {
    padding-bottom: 0;
    width: 30%;
    margin-bottom: 30px;
}

.fa-check {
    color: #0061FF;
}


/* Horizontal fyp */
.fyp-wide {
    margin-bottom: 80px;
}

.side-container {
    padding: 0 20px;
    align-items: flex-start;
    gap: 20px;
}

.fypw-button {
    width: 30%;
    padding-top: 40px;
}

/* Find a partner */
.find-a-partner {
    align-items: flex-start;
    gap: 40px;
    margin: 160px 0;
}

.find-a-partner img {
    max-width: 60%;
}

.fap-text h3 {
    padding-bottom: 20px;
}

.fap-text p {
    padding-bottom: 50px;
}

.fap-button .style-button {
    background-color: white;
    color: grey;
    border: 1px solid grey;
    font-size: 0.9rem;
}

/* Dropbox Business Grid */
.dpb-row {
    flex-wrap: wrap;
    margin: 0 -20px;
}

.dpb-col {
    padding: 20px;
}

.dpb-col h3 {
    padding: 20px 0;
}

/* Header Scopri di più sui nostri clienti */
.mc-hd {
    padding: 100px 0;
    margin-top: 50px;
    width: 50%;
    margin: 0 auto;
}

.mc-hd h2 {
    padding-bottom: 60px;
}

.mc-hd a {
    text-decoration: underline;
    color: #0000EE;
}

/* Footer Scopri di picture sui nostri clienti */
.mcf-container {
    background-color: var(--lblue);
}

.mc-ftr {
    color: #61082B;
    width: 50%;
    margin: 0 auto;
    padding: 100px 0;
    align-items: flex-start;
    justify-content: space-between;
}

.mc-ftr h2 {
    width:60%;
    padding: 0;
}

.mc-ftr a {
    width: 30%;
    text-align: center;
    margin-top: 10px;
    background-color: #FFFFFF;
    color: black;
}

/* Quadratoni */
.sqrd {
    width: calc(100vw/3);
    height: calc(100vw/3);
    flex-wrap: wrap;
}

.left > *,
.right > * {
    height: 50%;
    width: 50%;
    border: 10px solid transparent;
}

.sqrd img {
    width: 50%;
}

.left img,
.right img {
    filter: invert(1);
}

.designit {
    background-color: #A2D39B;
}

.asu {
    background-color: #61082B;
}

.uf {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1C1C;
}

.wbr {
    background-color: #D5001F;
}

.hcorp {
    background-color: #B4D0E7;
}

.lonp {
    background-color: #0D2481;
}

.cco {
    background-color: #FFD830;
}

.mid {
    background-color: #F5F5F5;
    padding: 50px;
}

.mid > * {
    margin-bottom: 40px;
}

.mid img {
    width: 50%;
}

.mid hr {
    width: 20%;
}

.mid p {
    font-size: 1rem;
}

/* FAQ Area */
.faq-container {
    width: 50%;
    margin: 120px auto;
}

.faq-container h2,
.question {
    border-bottom: 1px solid black;
}

.question {
    line-height: 80px;
    font-size: 1rem;
    position: relative;
}

.question i {
    font-size: 0.8rem;
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
}

/* Footer */
footer {
    background-color: black;
    color: white;
}

.ftr-container {
    width: 60%;
    margin: 0 auto;
}

.ftr-row {
    padding: 100px 0; 
}

.ftr-col {
    width: 20%;
}

footer h3 {
    padding-bottom: 30px;

}

footer a {
    color: white;
    font-weight: 300;
    line-height: 2rem;
}

footer hr {
    width: 10%;
}

.language {
    font-weight: 300;
    padding: 50px 0;
}

.fa-earth-americas {
    margin-right: 5px;
}

.fa-caret-up {
    font-size: 0.8rem;
}

.fa-caret-up:hover,
.fa-chevron-down:hover {
    cursor:pointer;
}

/* BONUS */

.sqrd.left > *:hover,
.sqrd.right > *:hover {
    cursor: pointer;
    border: 10px solid rgba(0, 0, 0, 0.5);
}